* {margin: 10mm;
padding: 3mm;
}
.simbolo {
    border: 3px solid brown;
    border-width: 3px;
    border-style: solid;
    border-color: brown;
}
input {
    width: 70mm;  
}
.resultado {
    border: 3px solid brown;
    border-width: 3px;
    border-style: solid;
    border-color: brown;
}